<a href="https://colab.research.google.com/github/Rabinmuhd/Assignments/blob/main/python_practice_question_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Write a Python program which accepts the radius of a circle from the user and compute the area.

In [1]:
r = float(input("Enter the radius: "))
area = 3.14 * r * r
print("Area of Circle is", area)

Enter the radius: 3
Area of Circle is 28.259999999999998

# 2. Write a Python Program to accept the details of a student like name, roll number and mark and display it.

In [2]:
name = input("Enter the name: ")
roll = input("Enter the roll number: ")
mark = input("Enter the mark: ")

print("Name:", name)
print("Roll No:", roll)
print("Mark:", mark)

Enter the name:  Anisha
Enter the roll number: 21
Enter the mark:  78
Name:  Anisha
Roll No: 21
Mark:  78

# 3. Write a Python program to get the largest number from a list.

In [3]:
numbers = [12, 3, 47, 10]
largest = numbers[0]

for n in numbers:
    if n > largest:
        largest = n

print(largest, "is the largest number.")

47 is the largest number.

# 4.  Given a range of first 10 numbers, write a Python program to iterate from start number to the end number and print the sum of the current number and previous number.

In [4]:
previous = 0

for current in range(1, 11):
    total = current + previous
    print("Current Number", current, "Previous Number", previous, "Sum:", total)
    previous = current

Current Number 1 Previous Number 0 Sum: 1
Current Number 2 Previous Number 1 Sum: 3
Current Number 3 Previous Number 2 Sum: 5
Current Number 4 Previous Number 3 Sum: 7
Current Number 5 Previous Number 4 Sum: 9
Current Number 6 Previous Number 5 Sum: 11
Current Number 7 Previous Number 6 Sum: 13
Current Number 8 Previous Number 7 Sum: 15
Current Number 9 Previous Number 8 Sum: 17
Current Number 10 Previous Number 9 Sum: 19

# 5. Write a Python program to print only those numbers which are divisible of 5.

In [5]:
numbers = [10, 20, 33, 46, 55]

for n in numbers:
    if n % 5 == 0:
        print(n)

10
20
55

# 6. Write a Python program to check whether a number is prime or not.

In [6]:
num = int(input("Enter the number: "))

if num <= 1:
    print(num, "is not a prime number.")
else:
    prime = True
    for i in range(2, num):
        if num % i == 0:
            prime = False
            break

    if prime:
        print(num, "is a prime number.")
    else:
        print(num, "is not a prime number.")

Enter the number: 3
3 is a prime number.

# 7. Write a Python program to reverse a list using for loop.

In [7]:
numbers = [10, 40, 30, 70]
reversed_list = []

for i in range(len(numbers)-1, -1, -1):
    reversed_list.append(numbers[i])

print(reversed_list)

[70, 30, 40, 10]

# 8. Write a Python program to print the following pattern.

In [8]:
for i in range(1, 5):
    print("*" * i)

*
**
***
****

# 9. Write a Python program to find the maximum of three numbers

In [9]:
a, b, c = 34, 12, 7

if a >= b and a >= c:
    print(a)
elif b >= a and b >= c:
    print(b)
else:
    print(c)

34

# 10. Write a Python program to construct the following pattern, using a nested for loop.

In [11]:
for i in range(1, 6):
    print("*" * i)

for i in range(4, 0, -1):
    print("*" * i)

*
**
***
****
*****
****
***
**
*